.about{
  padding: 6rem 0 0 0;
}
.about h4{
  color: var(--color-light);
  font-size: 0.8rem;
  text-align: center;
}
.about h1{
  color: var(--color-primary);
  font-size: 1.7rem;
  margin-bottom: 2rem;
  text-align: center;
}
.about__center{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.about__center--left{
  width: 20rem;
  background: linear-gradient(45deg, #4db4ff, #2596be, #2c2c6c, transparent);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__center--left img{
  width: 20rem;
  border-radius: 1rem;
  transform: rotate(5deg);
  transition: 0.3s transform;
  cursor: pointer;
}
.about__center--left img:hover{
  transform: rotate(0deg);
}
.about__center--right{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 60%;
}
.right__top{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.right__top div{
  background: var(--color-bg-variant);
  height: 12rem;
  border-radius: 1rem;
  flex-basis: calc(33.33% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.right__top div .icon{
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.right__top div h6{
  font-size: 1rem;
}
.right__top div p{
  font-size: 0.7rem;
  color: var(--color-light);
}
.right__middle span{
  color: var(--color-light);
}
.right__bottom a{
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background: var(--color-primary);
  color: var(--color-bg-variant);
  border: 1px solid var(--color-primary);
  transition: 0.3s background;
}
.right__bottom a:hover{
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background: transparent;
}
@media screen and (max-width: 1150px){
  .about__center{
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 768px){
  .right__top{
    flex-wrap: wrap;
  }
  .right__top div{
    flex-basis: calc(50% - 10px);
  }
}
@media screen and (max-width: 420px){
  .right__top div{
    flex-basis: calc(100%);
  }
}