.navbar{
  display: flex;
  width: 20rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.5rem;
  border-radius: 100vw;
  background: linear-gradient(45deg, transparent, transparent);
  backdrop-filter: blur(40rem);
  position: fixed;
  bottom: 0.5rem;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 1.1rem;
  z-index: 999;
}
.navbar a{
  color: var(--color-white);
}
