.footer{
  width: 100%;
  background: var(--color-primary);
  padding: 3rem max(15vw, 1rem);
  text-align: center;
  color: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer h1{
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__links{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.footer__links a{
  color: var(--color-bg);
  font-weight: 500;
}
.footer__socials{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.footer__socials a{
  color: var(--color-white);
  padding: 0.8rem;
  background: var(--color-bg);
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__copyright p{
  color: var(--color-bg);
}
@media screen  and (max-width: 650px){
  .footer__links{
    flex-direction: column;
  }
}