.testimonials {
  text-align: center;
  padding: 2rem 1rem;
}

.testimonials h4{
  color: var(--color-light);
  font-size: 0.8rem;
  text-align: center;
}
.testimonials h1{
  color: var(--color-primary);
  font-size: 1.7rem;
  margin-bottom: 2rem;
  text-align: center;
}
.testimonials__center{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 50%;
}
.testimonial__center--one{
  background: var(--color-bg-variant);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 3rem;
  width: 50%;
}
.testimonial__center--one div{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  outline: 3px solid var(--color-primary-variant);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.swiper-slide div{
  margin: auto;
  margin-bottom: 1rem;
}
.swiper-slide h5{
  margin-bottom: 0.5rem;
}
.testimonial__center--one div img{
  width: 100%;
}
.testimonial__center--one p{
  font-size: 0.9rem;
  color: var(--color-light);
  text-align: center;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
  background: var(--color-primary);
}
@media screen and (max-width: 1200px){
  .testimonials__center{
    width: 60%;
  }
}
@media screen and (max-width: 900px){
  .testimonials__center{
    width: 100%;
  }
}