*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
:root{
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db4ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
}
html{
  scroll-behavior: smooth;
}
body{
  background: var(--color-bg);
  color: var(--color-white);
}
.container{
  padding: 0 max(20vw, 1rem);
}